rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // School data access rules
    match /gps_schools/{schoolId} {
      allow read, write: if true;

      match /teachers_data/{teacherId} {
        allow read, write: if true;
      }
    }

    // Health ping collection
    match /gps_system/{docId} {
      allow read, write: if true;
    }
  }
}
